@import 'scss/fonts.scss';

* {
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  display: flex;
}

html {
  font-family: Calibri;
  min-height: 100%;
}

body,
#root {
  flex-basis: 100%;
}

#root {
  background: transparent url('/images/theme/main_background.jpg');
}
