@import 'scss/fonts.scss';

* {
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  display: flex;
}

html {
  font-family: Calibri;
  min-height: 100%;
}

body,
#root {
  flex-basis: 100%;
}

body {
  background: transparent url('/images/theme/main_background.jpg');
  justify-content: center;
  padding: 1em;
}

#root {
  max-width: 60em;
}

.ui-button {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.5em;
}
