* {
  margin: 0;
  outline: none;
  padding: 0;
}

html,
body {
  display: flex;
}

html {
  font-family: $font-family;
  min-height: 100%;
}

body,
#root {
  flex-basis: 100%;
}

body {
  background: transparent url('/images/theme/main_background.jpg');
  color: $green-darker;
  min-width: $min-width;
}
