button {
  &::-moz-focus-inner {
    border: 0;
  }

  &:active {
    border-color: $green;
  }

  &:focus {
    border-color: $green-lighter;
  }
}

.ui-button {
  border: 1px solid $green;
  border-radius: 0.3em;
  box-sizing: border-box;
  color: $green;
  cursor: pointer;
  font-size: 1em;
  padding: 0.2em golden-ratio(0.2em);
  transition: all 0.2s;

  &:hover {
    background-color: $green-lighter;
    box-shadow: none;
    color: $white;
  }
}
