@import './../../scss/services/functions.scss';
@import './../../scss/services/constans.scss';
@import './../../scss/services/placeholders.scss';

.header {
  @extend %edges;
  align-items: center;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
}

.nav,
.menu {
  width: 50%;
}

.home {
  background: transparent url('/images/theme/icons_24x24.svg') 0 0 no-repeat;
  display: block;
  height: 24px;
  width: 24px;
}

.logo {
  height: auto;
  max-width: 7em;
  vertical-align: middle;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;

  /* .item {
    max-width: 1.5em;
    overflow: hidden;
    transition: max-width 1s;

    &:hover {
      max-width: 100px;
    }
  } */

  .link {
    border-bottom: 1px solid transparent;
    border-radius: 0.5em;
    color: $green;
    padding: 0.4em golden-ratio(0.4em);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      border-bottom-color: $green-darker;
    }
  }
}

.ui-button {
  background: transparent url('/images/theme/icons_24x24.svg') -72px 0 no-repeat;
  border: none;
  height: 24px;
  vertical-align: middle;
  width: 24px;
}
