@import './../../scss/services/functions.scss';
@import './../../scss/services/constans.scss';
@import './../../scss/services/placeholders.scss';

.header {
  @extend %page-edges;
  align-items: center;
  background-color: $background-color;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 10em;
  vertical-align: middle;
}

.nav {
  display: flex;
  list-style: none;

  .link {
    border-bottom: 1px solid transparent;
    border-radius: 0.5em;
    color: $green;
    padding: 0.4em golden-ratio(0.4em);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      border-bottom-color: $green-darker;
    }
  }
}

.ui-button {
  margin-left: 1em;
}
