@import './../../scss/services/functions.scss';
@import './../../scss/services/constans.scss';

.content {
  font-size: 1em;
}

.welcome {
  margin: 0.5em 0;
  text-align: center;
}

.text {
  text-align: justify;
}

.button {
  margin-top: 1em;
  text-align: center;

  &_link {
    border-bottom: 1px solid transparent;
    border-radius: 0.5em;
    color: $green;
    font-size: 1.5em;
    padding: 0.2em golden-ratio(0.2em);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      border-bottom-color: $green;
    }
  }
}
