.article {
  pointer-events: none;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all .5s;
  width: 100%;
  &.active {
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
  }
  &__img {
    vertical-align: middle;
    width: 100%;
  }
  &__content {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  &__description {
    max-height: 1.2em;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    transition: max-height .5s;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
    &.opened {
      max-height: 120px;
      // -webkit-line-clamp: 20;
    }
  }
  .more {
    color: #f00;
    text-decoration: none;
  }
}